.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-dark-7);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--mantine-color-blue-6);
  align-content: center;
  z-index: 9999;
  @media (max-width: $mantine-breakpoint-md) {
    padding: 0 20px;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 12px;
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-md);
  @media (max-width: $mantine-breakpoint-md) {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    width: 100%;
  }
  @mixin hover {
    background-color: var(--mantine-color-blue-5);
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}