body {
  background-color: light-dark(#fff, #000);
}

.buttonBanner {
  border-top: 2px solid var(--mantine-color-blue-7);
  border-bottom: 0 solid transparent;
  transition: border-top 0.1s ease, border-bottom 0.1s ease;
}

.buttonBanner:hover {
  border-top: 0 solid transparent;
  border: 2px solid var(--mantine-color-blue-7);
}

.cardHover {
  transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.cardHover:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: var(--mantine-shadow-md);
}

.mantine-Notification-root{
  background-color: light-dark(#ffffffa2, #00000094);
  backdrop-filter: blur(10px);
}

.mantine-Notification-title, .mantine-Notification-description{
  color: var(--mantine-color-bright);
}